version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.8-jessie
    steps:
      - checkout
      - run:
          name: setup environment
          command: |
            mkdir ~/env
            virtualenv ~/env
            source ~/env/bin/activate
            pip install -r requirements_dev.txt
            pip install -r requirements.txt
      - run:
          name: running tests
          command: |
            mkdir ~/test_reports
            source ~/env/bin/activate
            pytest --junitxml=~/test_reports/pytest-results.xml
      - store_test_results:
          path: ~/test_reports
